/**
 *
 * Global Settings
 *
 */

/* * {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

html {
	font-size: 62.5%; /* sets the base font to 10px for easier math */
}

/**
 *
 * Sections
 *
 * body, section, nav, article, aside,
 * h{1-6}, header, footer, address
 *
 */

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
    font-size: 1.6rem;
    line-height: var(--line-height-4);
    color: var(--color-fore);
    background-color: var(--color-back);
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: 600;
	line-height: var(--line-height-3);
	margin-top: 1em;
	margin-bottom: .5em;
}

h1 { font-size: var(--h1) }
h2 { font-size: var(--h2) }
h3 { font-size: var(--h3) }
h4 { font-size: var(--h4) }
h5 { font-size: var(--h5) }
h6 { font-size: var(--h6) }


/**
 *
 * Grouping Content
 *
 * p, hr, br, pre, dialog, blockquote,
 * ol, ul ,li ,dl, dt, dd
 *
 */

p, dl, ol, ul, pre, blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}

pre {
  overflow: scroll;
}

blockquote {
  margin-left: 0;
}


/**
 *
 * Text-Level Semantics
 *
 * a, q, cite, em, strong, small, mark, dfn,
 * abbr, time, progress, meter, code, var,
 * samp, kbd, sub, sup, span, i, b, bdo,
 * ruby, rt, rp
 *
 */

a {
    color: inherit;
}
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

/**
 *
 * Forms
 *
 * form, fieldset, label, input, button,
 * select, datalist, optgroup, option,
 * textarea, output
 *
 */

input,
button,
select,
textarea {
    appearance: none;
}

/**
 *
 * Tabular Data
 *
 * table, caption, colgroup, col, tbody,
 * thead, tfoot, tr, td, th
 *
 */



/**
 *
 * Embedded Content
 *
 * figure, image, iframe, embed, object,
 * param, video, audio, source, canvas,
 * map, area
 *
 */