/**
 *
 * Variables
 *
 */


/*----------  Bassplate　Custom media queries  ----------*/

@custom-media --breakpoint-xs (max-width: 639px);
@custom-media --breakpoint-sm (min-width: 640px);
@custom-media --breakpoint-md (min-width: 960px);
@custom-media --breakpoint-lg (min-width: 1280px);

@custom-media --breakpoint-sm-md (min-width: 640px) and (max-width: 959px);
@custom-media --breakpoint-md-lg (min-width: 960px) and (max-width: 1279px);


/*----------  Colors  ----------*/

:root {
    --color-fore: #fff;
    --color-back: #000;
    /* --color-primary: #111; */
    /* --color-secondary: #222; */
    /* --color-tertiary: #333; */
}


/*----------  Fonts  ----------*/


@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v16-latin-300.woff2') format('woff2'), url('../fonts/roboto-v16-latin-300.woff') format('woff');
}


/*----------  Type Scale  ----------*/

:root {
	/* --h1: 2rem; */
	/* --h2: 1.5rem; */
	/* --h3: 1.25rem; */
	/* --h4: 1rem; */
	/* --h5: .875rem; */
	/* --h6: .75rem; */
}


/*----------  Typography  ----------*/

:root {
	/* --line-height-1: 1; */
	/* --line-height-2: 1.125; */
	/* --line-height-3: 1.25; */
	/* --line-height-4: 1.5; */
	/* --caps-letter-spacing: .2em; */
	/* --bold-font-weight: bold; */
}


/*----------  Layout  ----------*/

:root {
	/* --width-1: 24rem; */
	/* --width-2: 32rem; */
	/* --width-3: 48rem; */
	/* --width-4: 64rem; */
}


/*----------  Spacing (Margin & Padding)  ----------*/

:root {
	/* --space-1: .5rem; */
	/* --space-2: 1rem; */
	/* --space-3: 2rem; */
	/* --space-4: 4rem; */
}


/*----------  Position  ----------*/

:root {
	/* --z1: 1; */
	/* --z2: 2; */
	/* --z3: 3; */
	/* --z4: 4; */
}


/*----------  Border  ----------*/

:root {
	/* --border-width: 1px; */
	/* --border-radius: 3px; */
}


/*----------  Responsive Type Scale  ----------*/

:root {
	/* --h00: 4rem; */
	/* --h0: 3rem; */
}


/*----------  Btn Sizes  ----------*/

:root {
	/* --button-small-padding-y: .25rem; */
	/* --button-small-padding-x: .5rem; */
	/* --button-big-padding-y: 1rem; */
	/* --button-big-padding-x: 1.25rem; */
	/* --button-narrow-padding-x: .5rem; */
	}


/*----------  Btn  ----------*/

:root {
	/* --border-width: 1px; */
	/* --bold-font-weight: bold; */
	/* --button-font-family: inherit; */
	/* --button-font-size: inherit; */
	/* --button-font-weight: var(--bold-font-weight); */
	/* --button-line-height: 1.125rem; */
	/* --button-padding-y: .5rem; */
	/* --button-padding-x: 1rem; */
}


/*----------  Darken  ----------*/

:root {
	/* --darken-1: rgba(0, 0, 0, .0625); */
	/* --darken-2: rgba(0, 0, 0, .125); */
	/* --darken-3: rgba(0, 0, 0, .25); */
	/* --darken-4: rgba(0, 0, 0, .5); */
}


/*----------  Lighten  ----------*/

:root {
	/* --lighten-1: rgba(255, 255, 255, .0625); */
	/* --lighten-2: rgba(255, 255, 255, .125); */
	/* --lighten-3: rgba(255, 255, 255, .25); */
	/* --lighten-4: rgba(255, 255, 255, .5); */
}


/*----------  Debug Grid  ----------*/

:root {
	/* --debug-grid-color: rgba(0, 255, 255, .25); */
}


/*----------  Input Range  ----------*/

:root {
	/* --form-field-padding-x: .5rem; */
	/* --form-field-padding-y: .5rem; */
	/* --form-field-height: 2.25rem; */
	/* --border-radius: 3px; */

	/* --range-thumb-width: var(--form-field-padding-x); */
	/* --range-thumb-height: calc( var(--form-field-height) - (var(--form-field-padding-y) * 2) ); */
	/* --range-track-height: calc( var(--form-field-padding-y) / 2 ); */
	/* --range-thumb-offset: calc( var(--range-thumb-height) / -2 + (var(--range-track-height) / 2) ); */
	/* --range-thumb-pseudo-size: var(--form-field-height); */
}


/*----------  Media Object  ----------*/

:root {
	/* --media-object-space: var(--space-1); */
}


/*----------  Highlight  ----------*/

:root {
	/* --hljs-comment: var(--silver); */
	/* --hljs-keyword: white; */
	/* --hljs-number: var(--lime); */
	/* --hljs-string: var(--red); */
	/* --hljs-title: var(--red); */
	/* --hljs-type: var(--aqua); */
	/* --hljs-tag: var(--aqua); */
	/* --hljs-attribute: var(--lime); */
	/* --hljs-regexp: var(--lime); */
	/* --hljs-symbol: var(--fuchsia); */
	/* --hljs-built-in: var(--aqua); */
	/* --hljs-preprocessor: var(--silver); */
	/* --hljs-deletion: var(--fuchsia); */
	/* --hljs-addition: var(--lime); */
	/* --hljs-change: var(--aqua); */
	/* --hljs-chunk: var(--gray); */
}

