/* Basscss Margin */

.m0  { margin:        0 }

.mt0 { margin-top:    0 }

.mr0 { margin-right:  0 }

.mb0 { margin-bottom: 0 }

.ml0 { margin-left:   0 }

.mx0 { margin-left:   0; margin-right:  0 }

.my0 { margin-top:    0; margin-bottom: 0 }

.m1  { margin:        .5rem }

.mt1 { margin-top:        .5rem }

.mr1 { margin-right:        .5rem }

.mb1 { margin-bottom:        .5rem }

.ml1 { margin-left:        .5rem }

.mx1 { margin-left:        .5rem; margin-right:        .5rem }

.my1 { margin-top:        .5rem; margin-bottom:        .5rem }

.m2  { margin:        1rem }

.mt2 { margin-top:        1rem }

.mr2 { margin-right:        1rem }

.mb2 { margin-bottom:        1rem }

.ml2 { margin-left:        1rem }

.mx2 { margin-left:        1rem; margin-right:        1rem }

.my2 { margin-top:        1rem; margin-bottom:        1rem }

.m3  { margin:        2rem }

.mt3 { margin-top:        2rem }

.mr3 { margin-right:        2rem }

.mb3 { margin-bottom:        2rem }

.ml3 { margin-left:        2rem }

.mx3 { margin-left:        2rem; margin-right:        2rem }

.my3 { margin-top:        2rem; margin-bottom:        2rem }

.m4  { margin:        4rem }

.mt4 { margin-top:        4rem }

.mr4 { margin-right:        4rem }

.mb4 { margin-bottom:        4rem }

.ml4 { margin-left:        4rem }

.mx4 { margin-left:        4rem; margin-right:        4rem }

.my4 { margin-top:        4rem; margin-bottom:        4rem }

.mxn1 { margin-left:        -.5rem; margin-right:        -.5rem; }

.mxn2 { margin-left:        -1rem; margin-right:        -1rem; }

.mxn3 { margin-left:        -2rem; margin-right:        -2rem; }

.mxn4 { margin-left:        -4rem; margin-right:        -4rem; }

.m-auto  { margin: auto; }

.mt-auto { margin-top: auto }

.mr-auto { margin-right: auto }

.mb-auto { margin-bottom: auto }

.ml-auto { margin-left: auto }

.mx-auto { margin-left: auto; margin-right: auto; }

.my-auto { margin-top: auto; margin-bottom: auto; }
