
@media (--breakpoint-sm) {

  .sm-m0  { margin:        0 }
  .sm-mt0 { margin-top:    0 }
  .sm-mr0 { margin-right:  0 }
  .sm-mb0 { margin-bottom: 0 }
  .sm-ml0 { margin-left:   0 }

  .sm-m1  { margin:        var(--space-1) }
  .sm-mt1 { margin-top:    var(--space-1) }
  .sm-mr1 { margin-right:  var(--space-1) }
  .sm-mb1 { margin-bottom: var(--space-1) }
  .sm-ml1 { margin-left:   var(--space-1) }

  .sm-m2  { margin:        var(--space-2) }
  .sm-mt2 { margin-top:    var(--space-2) }
  .sm-mr2 { margin-right:  var(--space-2) }
  .sm-mb2 { margin-bottom: var(--space-2) }
  .sm-ml2 { margin-left:   var(--space-2) }

  .sm-m3  { margin:        var(--space-3) }
  .sm-mt3 { margin-top:    var(--space-3) }
  .sm-mr3 { margin-right:  var(--space-3) }
  .sm-mb3 { margin-bottom: var(--space-3) }
  .sm-ml3 { margin-left:   var(--space-3) }

  .sm-m4  { margin:        var(--space-4) }
  .sm-mt4 { margin-top:    var(--space-4) }
  .sm-mr4 { margin-right:  var(--space-4) }
  .sm-mb4 { margin-bottom: var(--space-4) }
  .sm-ml4 { margin-left:   var(--space-4) }

  .sm-mxn1 { margin-left: calc(var(--space-1) * -1); margin-right: calc(var(--space-1) * -1); }
  .sm-mxn2 { margin-left: calc(var(--space-2) * -1); margin-right: calc(var(--space-2) * -1); }
  .sm-mxn3 { margin-left: calc(var(--space-3) * -1); margin-right: calc(var(--space-3) * -1); }
  .sm-mxn4 { margin-left: calc(var(--space-4) * -1); margin-right: calc(var(--space-4) * -1); }

  .sm-mx-auto { margin-left: auto; margin-right: auto; }

}

