/* Basscss Colors */

/*@import 'colors.css/src/_variables.css';*/

/* 

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

:root {

--aqua:  #7FDBFF;
--blue:  #0074D9;
--navy:  #001F3F;
--teal:  #39CCCC;
--green: #2ECC40;
--olive: #3D9970;
--lime:  #01FF70;

--yellow:  #FFDC00;
--orange:  #FF851B;
--red:     #FF4136;
--fuchsia: #F012BE;
--purple:  #B10DC9;
--maroon:  #85144B;

--white:  #FFFFFF;
--silver: #DDDDDD;
--gray:   #AAAAAA;
--black:  #111111;

}


.black  { color: var(--black) }
.gray   { color: var(--gray) }
.silver { color: var(--silver) }
.white  { color: var(--white) }

.aqua  { color: var(--aqua) }
.blue  { color: var(--blue) }
.navy  { color: var(--navy) }
.teal  { color: var(--teal) }
.green { color: var(--green) }
.olive { color: var(--olive) }
.lime  { color: var(--lime) }

.yellow  { color: var(--yellow) }
.orange  { color: var(--orange) }
.red     { color: var(--red) }
.fuchsia { color: var(--fuchsia) }
.purple  { color: var(--purple) }
.maroon  { color: var(--maroon) }

.color-inherit { color: inherit }
.muted { opacity: .5 }

