/* Basscss Background Colors */

/*@import 'colors.css/src/_variables.css';*/

/* 

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

:root {

--aqua:  #7FDBFF;
--blue:  #0074D9;
--navy:  #001F3F;
--teal:  #39CCCC;
--green: #2ECC40;
--olive: #3D9970;
--lime:  #01FF70;

--yellow:  #FFDC00;
--orange:  #FF851B;
--red:     #FF4136;
--fuchsia: #F012BE;
--purple:  #B10DC9;
--maroon:  #85144B;

--white:  #FFFFFF;
--silver: #DDDDDD;
--gray:   #AAAAAA;
--black:  #111111;

}

.bg-black  { background-color: var(--black) }
.bg-gray   { background-color: var(--gray) }
.bg-silver { background-color: var(--silver) }
.bg-white  { background-color: var(--white) }

.bg-aqua  { background-color: var(--aqua) }
.bg-blue  { background-color: var(--blue) }
.bg-navy  { background-color: var(--navy) }
.bg-teal  { background-color: var(--teal) }
.bg-green { background-color: var(--green) }
.bg-olive { background-color: var(--olive) }
.bg-lime  { background-color: var(--lime) }

.bg-yellow  { background-color: var(--yellow) }
.bg-orange  { background-color: var(--orange) }
.bg-red     { background-color: var(--red) }
.bg-fuchsia { background-color: var(--fuchsia) }
.bg-purple  { background-color: var(--purple) }
.bg-maroon  { background-color: var(--maroon) }

